[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
openpyxl = "*"
python-dotenv = "*"
pypdf = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
customtkinter = "*"
docling = "*"
pdfplumber = "*"

[dev-packages]
pytest = "*"
pandas-stubs = "*"
types-openpyxl = "*"
pyinstaller = "*"

[requires]
python_version = "3.12"
